"""
This script creates the data map for the tabular test inputs, i.e. `test_tab_input_map.csv`.
This map is a `pd.DataFrame` object populated with respect to the data description and the data present in the raw data directory.
The first column of the created map must be the "id" of each test data point.
The subsequent columns of `test_tab_input_map.csv` are the tabular test input features, if any.

>>> # Example
>>> test_tab_input_map = pd.DataFrame(columns=["id", "tab_input_feature1", "tab_input_feature2", ...])

Create test_tab_input_map
"""
# <｜fim▁begin｜>
import os
import pandas as pd
# <｜fim▁hole｜>

# <｜fim▁end｜>
# save
test_tab_input_map.to_csv("./test_tab_input_map.csv", index=False)
print("`test_tab_input_map.csv` created and saved.")