"""
This script creates the data map for the tabular training inputs, i.e. `train_tab_input_map.csv`.
This map is a `pd.DataFrame` object populated with respect to the data description and the data present in the raw data directory.
The first column of the created map must be the "id" of each test data point.
The subsequent columns of `train_tab_input_map.csv` are the tabular training input features, if any.

>>> # Example
>>> train_tab_input_map = pd.DataFrame(columns=["id", "tab_input_feature1", "tab_input_feature2", ...])

Create train_tab_input_map
"""
# <｜fim▁begin｜>
import os
import pandas as pd
# <｜fim▁hole｜>

# <｜fim▁end｜>
# save
train_tab_input_map.to_csv("./train_tab_input_map.csv", index=False)
print("`train_tab_input_map.csv` created and saved.")