{% set create_transform_txt_target_train = stages_code_dict.get("create_transform_txt_target_train", dict()) %}
{% set create_map_tab_target_train = stages_code_dict.get("create_map_tab_target_train", dict()) %}
{% set create_map_img_target_train = stages_code_dict.get("create_map_img_target_train", dict()) %}
{% set create_map_txt_target_train = stages_code_dict.get("create_map_txt_target_train", dict()) %}

{% include "system_prompt.jinja" %}

[[ USER ]]
# Submission Format Description
{{ memory.retrieve({memory.mem_keys.SUMMARIZED_SUBMISSION_FORMAT: 1.0}) }}

# Modalities Description
{{ memory.retrieve({memory.mem_keys.SUMMARIZED_TARGETS_MODALITY_TRANSFORMS: 1.0}) }}

{% if memory.retrieve({memory.mem_keys.ACTIVE_TABLE_VIEW: 1.0}) %}
### These are some of the tables you have asked information about:
{{ memory.retrieve({memory.mem_keys.ACTIVE_TABLE_VIEW: 1.0}) }}
{% endif -%}

{% if memory.retrieve({memory.mem_keys.ERROR_INSTRUCT: 1.0}) %}
### These are some tips to avoid common mistakes in the code:
{{ memory.retrieve({memory.mem_keys.ERROR_INSTRUCT: 1.0}) }}
{% endif -%}

Your goal is to create a transform function and an inverse transform function for the training text targets.
Remember that in case of classification tasks, the target should be ONE HOT ENCODED.
If the train tabular targets do not require being transformed, the functions should simply be the identity, i.e. return the targets unchanged.

{% if create_map_tab_target_train and create_map_tab_target_train.get("code", None) %}
### This is the code you helped write earlier to create the train tabular targets:
{{ create_map_tab_target_train.get("code") }}
{{ create_map_tab_target_train.get("code_summary") }}
{% endif -%}
{% if create_map_img_target_train and create_map_img_target_train.get("code", None) %}
### This is the code you helped write earlier to create the train image targets:
{{ create_map_img_target_train.get("code") }}
{{ create_map_img_target_train.get("code_summary") }}
{% endif -%}
{% if create_map_txt_target_train and create_map_txt_target_train.get("code", None) %}
### This is the code you helped write earlier to create the train text targets:
{{ create_map_txt_target_train.get("code") }}
{{ create_map_txt_target_train.get("code_summary") }}
{% endif -%}

{% if memory.retrieve({memory.mem_keys.CODE_RAN: 1.0}) %}
### This was the resulting code after your last attempt:
{{ memory.retrieve({memory.mem_keys.CODE: 1.0}) }}
{% if memory.retrieve({memory.mem_keys.CODE_PASSED: 1.0}) %}
{% if memory.retrieve({memory.mem_keys.CODE_OUTPUT: 1.0})|length > 0 %}
### This was the output:
```
{{ memory.retrieve({memory.mem_keys.CODE_OUTPUT: 1.0}) }}
```
{% endif -%}
{% else -%}
### The error in your code was:
```
{{ memory.retrieve({memory.mem_keys.CODE_ERROR: 1.0}) }}
```
You should fix this error next.
{% endif -%}
{% else -%}
{% if create_transform_txt_target_train and create_transform_txt_target_train.get("code", None) %}
### This was the resulting code after your last attempt:
{{ stages_code_dict['create_transform_txt_target_train']['code'] }}
{% if stages_code_dict['create_transform_txt_target_train']['code_output']|length > 0 %}
### This was the output:
```
{{ stages_code_dict['create_transform_txt_target_train']['code_output'] }}
```
{% endif -%}
{% endif -%}
{% endif -%}

{% include "snippets/unit_test_fix_error.jinja" -%}

{% set code_template = memory.retrieve({memory.mem_keys.CODE_TEMPLATES: 1.0})["transform_txt_target_train"] %}
Your task is to complete the following code in order to create these transforms:
```python
{% include code_template %}
```

{% if memory.retrieve({memory.mem_keys.THOUGHT: 1.0}) != None %}
## Plan:
{{ memory.retrieve({memory.mem_keys.THOUGHT: 1.0}) }}
{% endif -%}
Your response should be the above template completed, in the format:
```python
code
```
{% if format_err_msg %}
{{ format_err_msg }}
{% endif -%}