{% include "system_prompt.jinja" %}

[[ USER ]]
### Task Description
This is the summary of the task description that you wrote previously:
{{ task_description }}

### Input modalities
This is the summary of the required input modalities that you wrote previously:
{{ input_modalities }}

Based on the above information, write a JSON object with the three keys deciding if each modality is needed as input.
- "tabular_inputs_needed" is True if the task requires tabular inputs, otherwise it's False
- "image_inputs_needed" is True if the task requires image inputs, otherwise it's False.
- "text_inputs_needed" is True if the task requires text inputs, otherwise it's False.

Please fill and return the following JSON object, respecting the format:
```json
{
    "tabular_inputs_needed": <True/False>,
    "image_inputs_needed": <True/False>,
    "text_inputs_needed": <True/False>,
}
```
The values can only be the python boolean elements: True or False.
Not "True", not true, not "true".
{% if format_err_msg %}
{{ format_err_msg }}
{% endif -%}