"""
This script creates the transform functions for the training targets.
"""
# <｜fim▁begin｜>
import os
import pandas as pd
# <｜fim▁hole｜>


def txt_target_transform(original_target):
    """
    Transform for targets, maps original submission format to usable numerical format.
    It cannot return `None`, it has to at least return the `original_target` if no transform is needed.
    """
    # <｜fim▁hole｜>
    return transformed_target


def txt_target_inverse_transform(transformed_target):
   """
    Inverse transform for text targets, maps back to original submission format.
    It cannot return `None`, it has to at least return the `transformed_target` if no inverse transform is needed.
    """
    # <｜fim▁hole｜>
    return original_target
# <｜fim▁end｜>