{%- set task_description = memory.retrieve({memory.mem_keys.TASK_DESCRIPTION: 1.0}) %}
{%- set data_description = memory.retrieve({memory.mem_keys.DATA_DESCRIPTION: 1.0}) %}
{%- set available_actions = memory.retrieve({memory.mem_keys.AVAILABLE_ACTIONS: 1.0}) %}
{%- set current_submission = memory.retrieve({memory.mem_keys.CURRENT_SUBMISSION: 1.0}) %}
{%- set code_error = memory.retrieve({memory.mem_keys.CODE_ERROR: 1.0}) %}
{%- set code_output = memory.retrieve({memory.mem_keys.CODE_OUTPUT: 1.0}) %}
{%- set code = memory.retrieve({memory.mem_keys.CODE: 1.0}) %}
{%- set plan = memory.retrieve({memory.mem_keys.THOUGHT: 1.0}) %}
{%- set templates_relative_path = memory.retrieve({memory.mem_keys.TEMPLATES_RELATIVE_PATH: 1.0}) %}

{% include "system_prompt.jinja" %}

[[ USER ]]

## Task description
{{ task_description }}

## Data description
{{ data_description }}

EDA: {{memory.retrieve({memory.mem_keys.EDA: 1.0})}}

## Available solutions
{%- include "./top_level/submission_list.jinja" %}

## Current solution progress
You have started creating a new solution. Its status is as follows:
{{ current_submission.submission_state.to_str() }}

## What to do next
You want to generate code for the feature engineering of the tabular data.
After executing your feature engineering code, the tabular data should all be numerical and should not contain any missing value.

{% include "./ds_main_pipeline/code_error_report_for_code.jinja" %}

Use your plans to help you engineer the features:
{{ plan }}

Write the to prepare the data for a successful predictive model using the information given above.
1. The code should perform feature engineering on the DataFrame `X` that is loaded.
2. You can add columns you think can be helpful for a model.
3. You must handle the missing values.
4. You must not forget to import the packages when needed.
5. As an output, all features should be numerical, and should not contain any missing values.

Your task is to fill the blank and implement the feature engineering in this code:
```python
{% include templates_relative_path + "/classical_tab_fe_code_template.jinja" %}
```

Only output the code that should be filled in the blank with no extra text. Don't forget to import any additional packages that you will use in the code.
Your response should be in the format:
```python
<code>
```
