"""
This script creates a function that takes an input Dataframe and format it to follow the df_sample_submission format
"""
# useful imports
import os
import numpy as np
import pandas as pd


### Submission format definition
def df_to_submission_format(
    input_df: pd.DataFrame,
) ->  pd.DataFrame:
    """
    Format the input_df to the submission format DataFrame
    Args:
        input_df: DataFrame to be formatted
    Return:
        format_submission_df: DataFrame formatted
    """
    # <to complete>
    return input_df
