{% set df_inv_transform_view_tab = memory.retrieve({memory.mem_keys.INV_TRANSFORM_HEAD_VIEW_TAB: 1.0}) %}
{% set df_inv_transform_view_txt = memory.retrieve({memory.mem_keys.INV_TRANSFORM_HEAD_VIEW_TXT: 1.0}) %}
{% set df_inv_transform_view_img = memory.retrieve({memory.mem_keys.INV_TRANSFORM_HEAD_VIEW_IMG: 1.0}) %}
{% set predict_table_info_tab = memory.retrieve({memory.mem_keys.PRED_TABLE_INFO_TAB: 1.0}) %}
{% set predict_table_info_txt = memory.retrieve({memory.mem_keys.PRED_TABLE_INFO_TXT: 1.0}) %}
{% set predict_table_info_img = memory.retrieve({memory.mem_keys.PRED_TABLE_INFO_IMG: 1.0}) %}
{% set has_sample_submission = memory.retrieve({memory.mem_keys.HAS_SAMPLE_SUBMISSION: 1.0}) %}
{% set raw_id_column_name = memory.retrieve({memory.mem_keys.RAW_ID_COLUMN_NAME: 1.0}) %}
{% set raw_target_column_names = memory.retrieve({memory.mem_keys.RAW_TARGETS_COLUMN_NAMES: 1.0}) %}
{% set sample_submission_head = memory.retrieve({memory.mem_keys.SAMPLE_SUBMISSION_HEAD: 1.0}) %}
{% set create_submission_format = stages_code_dict.get("create_submission_format", dict()) %}
{% set summarize_cot = memory.retrieve({memory.mem_keys.SUMMARIZE_COT: 1.0}) %}
{% include "system_prompt.jinja" %}

[[ USER ]]
### Submission Format Description
{{ memory.retrieve({memory.mem_keys.SUMMARIZED_SUBMISSION_FORMAT: 1.0}) }}


### View of the sample submission:
The input ID column name: {{ raw_id_column_name }}
The target column name(s): {{ raw_target_column_names }}
```
{{ sample_submission_head }}
```

### Objective
Your goal is to write the submission format function that takes as input a DataFrame containing target predictions, and format it to follow the submission file format.
**Important:** Use the column names in the sample_submission table as a reference.

{% if df_inv_transform_view_tab is not none %}
#### View of the first few rows of the input DataFrame for tabular targets:
{{ df_inv_transform_view_tab }}

{{ predict_table_info_tab }}
{% endif -%}

{% if df_inv_transform_view_txt is not none %}
#### View of the first few rows of the input DataFrame for text targets:
{{ df_inv_transform_view_txt }}

{{ predict_table_info_txt }}
{% endif -%}

{% if df_inv_transform_view_img is not none %}
#### View of the first few rows of the input DataFrame for image targets:
{{ df_inv_transform_view_img }}

{{ predict_table_info_img }}
{% endif -%}


{% if memory.retrieve({memory.mem_keys.CODE_RAN: 1.0}) %}
### This was the resulting code after your last attempt:
{{ memory.retrieve({memory.mem_keys.CODE: 1.0}) }}
{% if memory.retrieve({memory.mem_keys.CODE_PASSED: 1.0}) %}
{% if memory.retrieve({memory.mem_keys.CODE_OUTPUT: 1.0})|length > 0 %}
### This was the output:
```
{{ memory.retrieve({memory.mem_keys.CODE_OUTPUT: 1.0}) }}
```
{% endif -%}
{% else -%}
### The error in your code was:
```
{{ memory.retrieve({memory.mem_keys.CODE_ERROR: 1.0}) }}
```
{% endif -%}
{% else -%}
{% if create_submission_format and create_submission_format.get("code", None) %}
### This was the resulting code after your last attempt:
{{ stages_code_dict['create_submission_format']['code'] }}
{% if stages_code_dict['create_submission_format']['code_output']|length > 0 %}
### This was the output:
```
{{ stages_code_dict['create_submission_format']['code_output'] }}
```
{% endif -%}
{% endif -%}
{% endif -%}


{% include "snippets/unit_test.jinja" -%}


{% if memory.retrieve({memory.mem_keys.ERROR_INSTRUCT: 1.0}) %}
### These are some tips to avoid common mistakes in the code:
{{ memory.retrieve({memory.mem_keys.ERROR_INSTRUCT: 1.0}) }}
{% endif -%}

Now, write a **short** (no more than 3 steps) plan of how you would do that.
If there is an error in a previous attempt, explain in **one** sentence why this error happened and how to fix it.
Do not write code yet, simply the plan.
{% include "plan_cot.jinja" %}