{% set summarize_cot = memory.retrieve({memory.mem_keys.SUMMARIZE_COT: 1.0}) %}
{% include "system_prompt.jinja" %}

[[ USER ]]
{% if fetched_raw_data %}
This is the summarized task description:
{{ summarized_task_description }}

This is the summarized data description for the task:

{{ summarized_data_description }}

Here is some information about the tables in the raw data directory
```
{{ raw_table_info }}
```

{% if has_sample_submission %}
### View of the sample submission:
The input ID column name: {{ raw_id_column_name }}
The target column name(s): {{ raw_target_column_names }}
```
{{ sample_submission_head }}
```
{% endif -%}

There are three main modalities in general: tabular, image and text.

Your task is to determine what input modalities are needed to solve the current task, you should pay attention to the task description.
If there is additional metadata associated with the test data, you should make sure to use it to solve the task if it is relevant.

These are some examples to help you:

In an image multiclass classification task there are going to be: image inputs for the images to be classified
The full list is then:

tabular input map: NO because there is no presence of tabular data
image input map: YES as there are images in this task -> related files: [list of related files]
text input map: NO because there is no presence of text modality in this task

In an image multiclass classification task where other metadata is provided for both the train and test data.
The full list is then:

tabular input map: YES as there is useful metadata available at test time -> related files: [list of related files]
image input map: YES as there are images in this task -> related files: [list of related files]
text input map: NO because there is no presence of text modality in this task

Following the structure in the above examples, please make a list of all the input maps needed for the task.
{% endif -%}
{% include "summarize_cot.jinja" %}