{%- set task_description = memory.retrieve({memory.mem_keys.TASK_DESCRIPTION: 1.0}) %}
{%- set data_description = memory.retrieve({memory.mem_keys.DATA_DESCRIPTION: 1.0}) %}
{%- set available_actions = memory.retrieve({memory.mem_keys.AVAILABLE_ACTIONS: 1.0}) %}


{% include "system_prompt.jinja" %}

[[ USER ]]

## Task description
{{ task_description }}

## Data description
{{ data_description }}


## What to do next
Explain what you want to do next and then select one (and only one) of the following available actions:

{% if available_actions|length >= 1 %}
{%- for action in available_actions %}
* {{ action.value }}
{%- endfor %}
{% endif %}

You should only output one of the available actions (do not reformulate the choices) and format your answer as a json:
```json
    {
        "action": "<action_choice>"
    }
```

{% if format_err_msg %}
{{ format_err_msg }}
{% endif %}