{%- set task_description = memory.retrieve({memory.mem_keys.TASK_DESCRIPTION: 1.0}) %}
{%- set data_description = memory.retrieve({memory.mem_keys.DATA_DESCRIPTION: 1.0}) %}
{%- set available_actions = memory.retrieve({memory.mem_keys.AVAILABLE_ACTIONS: 1.0}) %}
{%- set current_submission = memory.retrieve({memory.mem_keys.CURRENT_SUBMISSION: 1.0}) %}
{%- set code = memory.retrieve({memory.mem_keys.CODE: 1.0}) %}
{%- set code_output = memory.retrieve({memory.mem_keys.CODE_OUTPUT: 1.0}) %}
{%- set code_error = memory.retrieve({memory.mem_keys.CODE_ERROR: 1.0}) %}

{% include "system_prompt.jinja" %}

[[ USER ]]

## Task description
{{ task_description }}

## Data description
{{ data_description }}

## Available solutions
{%- include "./top_level/submission_list.jinja" %}

## Current solution progress
You have started creating a new solution. Its status is as follows:
{{ current_submission.submission_state.to_str() }}

## What to do next
{% include "./ds_main_pipeline/to_do_next_templates/tab_head_todo.jinja" %}

{% include "./ds_main_pipeline/code_report_for_loop.jinja" %}

To decide what to do now, explain what you want to do next and then select one (and only one) of the following available actions:
{%- if code_output %}
{#* "action": "Continue" (if you want to create a new plan and new code for the tabular model decoder and losses)#}
* "action": "Terminate" (if you want to keep the decoder and losses code written above and move on to the next stage.)
{%- else %}
* "action": "Continue" (if you want to create a plan and a code for the tabular model decoder and losses)
{%- endif %}

{% include "./ds_main_pipeline/loop_code/loop_action_choice.jinja" %}
