{% include "system_prompt.jinja" %}

[[ USER ]]
### Data Description
{{ memory.retrieve({memory.mem_keys.SUMMARIZED_DATA_DESCRIPTION: 1.0}) }}

### Modalities Description
{{ memory.retrieve({memory.mem_keys.SUMMARIZED_TARGETS_MODALITY_TRANSFORMS: 1.0}) }}

# Goal
Your goal is to create an inverse transform function for the training tabular targets.
If the train tabular targets do not require being transformed, the functions should simply be the identity, i.e. return the targets unchanged.
Note that for classification targets, a predictive model will output the probits (probability to belong to each class), while for regression targets it will output raw predictions.
The inverse transform function will take as input the predicted values, and shall return the data in the format that is expected for the submission.

Example1: the task is a binary classification and the targets in the submission format are "TRUE" and "FALSE".
- The transform function will one-hot encode the binary target.
- The inverse function would take a DataFrame of probits as input and convert the row-wise argmax into the corresponding class "TRUE" or "FALSE".

Example2: the task is a multiclass classification and the submission format is the probability of each class.
- The transform function will perform one-hot encoding of the classification target column.
- The inverse transform just returns the table of predicted probits as is, since it already corresponds to the submission format.

Example3: the task is a multiclass classification and the submission format is the class label.
- The transform function will do the 1-hot encoding of the target class,
- The inverse transform should apply the argmax operation on the probits and map it to the class label.

Example4: the task is a regression
- The transform will not change the target values,
- The inverse transform should return the predicted elements unchanged.


{% if memory.retrieve({memory.mem_keys.CODE_RAN: 1.0}) %}
### This was the resulting code after your last attempt:
{{ memory.retrieve({memory.mem_keys.CODE: 1.0}) }}
{% if memory.retrieve({memory.mem_keys.CODE_PASSED: 1.0}) %}
{% if memory.retrieve({memory.mem_keys.CODE_OUTPUT: 1.0})|length > 0 %}
### This was the output:
```
{{ memory.retrieve({memory.mem_keys.CODE_OUTPUT: 1.0}) }}
```
{% endif -%}
{% else -%}
### The error in your code was:
```
{{ memory.retrieve({memory.mem_keys.CODE_ERROR: 1.0}) }}
```
{% endif -%}
{% else -%}
{% if create_transform_tab_target_train and create_transform_tab_target_train.get("code", None) %}
### This was the resulting code after your last attempt:
{{ stages_code_dict['create_transform_tab_target_train']['code'] }}
{% if stages_code_dict['create_transform_tab_target_train']['code_output']|length > 0 %}
### This was the output:
```
{{ stages_code_dict['create_transform_tab_target_train']['code_output'] }}
```
{% endif -%}
{% endif -%}
{% endif -%}

{% include "snippets/unit_test.jinja" -%}


Based on the above information and keeping the goal in mind, decide if there are any data tables from the raw data directory that you would like to see (i.e. files such as .CSV, .TSV, .TXT, ...).
Note that there could be no such tables in the raw directory.
This means that you think seeing a view and some information of these data frame objects would help you solve the task.
Select the tables you would like to see by returning a list of full paths.
In particular, give your answer by following the JSON format:
```json
    {
        "paths": ["<table1_full_path>", "<table2_full_path>", ...],
    }
```
If you do not need to see any table for the time being, simple return an empty structure, i.e.
```json
    {
        "paths": [],
    }
```
{% if format_err_msg %}
{{ format_err_msg }}
{% endif -%}